<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Help page</title>
</head>
<body>
    <h1>{{pageTitle}} Page</h1>
    <p>Some text here</p>
    <footer>copyright @{{currentYear}}</footer>
</body>

</html>