<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}} page</title>
</head>
<body>
    <h1>{{pageTitle}} Page</h1>
    <p>Welcome {{message}} to our website</p>
    <footer>copyright @{{currentYear}}</footer>
</body>

</html>